
*.spp

BIG-TEAM-UNITED/Assets/BIG-TEAM/kratos/roomscene.spp.meta

BIG-TEAM-UNITED/Assets/BIG-TEAM/kratos/roomscene.obj.meta
BIG-TEAM-UNITED/Assets/BIG-TEAM/kratos/roomscene.spp.painter_lock

BIG-TEAM-UNITED/Assets/BIG-TEAM/kratos/roomscene.spp.painter_lock.meta

BIG-TEAM-UNITED/Assets/BIG-TEAM/kratos/roomscene_autosave_0.spp.meta
